
:root {
  --extra-dark: rgb(40,55,71);
  --dark : rgb(52,73,71);
  --light : rgb(174,182,191);
  --extra-light : rgb(235,237,239);
  --universal-white : rgb(253,254,254);
}


* {
  box-sizing: border-box;
  font-family: verdana;
}

button:hover{
  cursor : pointer
}

/* ---------------------home page start---------------------------------*/

.home-main-container {
  width :100%;
  height : 100vh;
  display : flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--universal-white);
}

.home-header {
  width : 100%;
  background-color: var(--extra-dark);
  display : flex;
  align-items: center;
  justify-content: space-between;
  padding : 1em 1em 1em 1em;
}

.home-header-title{
  font-family: verdana;
  font-size: 3em;
  font-weight: bolder;
  color: var(--extra-light);
  font-style: italic;
}


.home-info {
  display : flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width : 100%;
  background-color: var(--universal-white)
}

.home-info-content-top {
  width: 100%;
  display : flex;
  align-items:  center;
  justify-content: center;
  padding: 1em;
}

.home-info-li {
    list-style-type: none;
    font-size: 1.8em;
    font-weight: bolder;
    color: var(--dark);
    padding : 1em;
}

.home-footer {
  background-color: var(--light);
  width : 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: verdana;
  font-size: 3em;
  font-weight: 600;
  font-stretch: expanded;
  color : var(--extra-light);
  margin-top : auto;
  padding: 1em;
  text-align: center;
}

.nav-link{
  text-decoration: none;
  font-size: 1.3em;
  font-weight: bolder;
  color: var(--light);
  font-family: verdana;
  padding-left : 1.5em
}

.nav-link:hover {
    color: var(--extra-light)
}


.my-ul{
  padding :0;
  margin : 0;
}


@media screen and (max-width: 768px){


  .home-header {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding : 1em 1.5em 0 1.5em;
  }

  .nav-link{
    padding-left : 0em
  }

  .home-nav {
    padding : 1em;
    width : 100%;
    display : flex;
    align-items: center;
    justify-content: space-around;
  }
}

/* ---------------------home page End---------------------------------*/




/* ---------------------login page Start---------------------------------*/

.login-container {
  height : 100vh;
  width :100%;
  display : flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color : var(--universal-white)
}

.login-form-div {
  min-width: 40%;
  height: 100%;
  background-color: var(--extra-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}


.login-form {
  display: flex;
  flex-direction: column;
  width : 100%;
  padding : 0em 4em 1em 4em;
}

.login-form-label {
  font-size: 1.5em;
  font-weight: bold;
  color : var(--extra-light);
  padding-top : 1em;
}

.login-input {
  background-color : var(--extra-dark);
  border-width: 0 0 2px 0;
  border-color: var(--light);
  padding-top : 1em;
  font-size: 1.5em;
  color:  var(--extra-light);
  width : 100%;
}

.login-button {
  align-self: flex-end;
  background-color: var(--extra-light);
  border : none;
  font-weight: bold;
  font-size: 1.2em;
  padding : 0.5em 1em 0.5em 1em;
  color : var(--extra-dark);
  border-radius: 0.2em;
  margin-top : 2em;
}

.login-button:hover{
  background-color: var(--light);
  cursor : pointer
}

.login-input:focus{
  outline: none;
  border-color: var(--extra-light);
}

.register-here-text-div{
  margin-top : auto;
  padding : 1em 1.5em 2em 1.5em;
  text-align :center;
}


.my-link {
  font-weight: bold;
  font-size: 1.5em;
  color: var(--light)
}

.my-link:hover {
  color: var(--extra-light);
  cursor : pointer
}

.error-show {
  height : 10%;
  width : 80%;
  font-weight: bold;
  font-size: 1.5em;
  color : var(--extra-light);
  animation-name: errorAnimation;
  animation-duration: 2s;
  opacity : 0;
  margin-top : 2em;
}

@keyframes errorAnimation {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


.error-hide {
  height : 10%;
  margin-top : 2em;
  opacity : 0;
  font-size: 1.5em;
}

.login-header-title {
  font-size: 3em;
  font-weight: bolder;
  color: var(--extra-dark);
  font-style: italic;
  padding-top : 0.5em;
  padding-left: 0.5em;

}

.login-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
}


.login-title {
  font-family: verdana;
  font-size: 7em;
  font-weight: bolder;
  padding-bottom: 0.1em;
  padding-left: 0.1em;
  color: var(--extra-light)
}


.registration-success-container {
  display : flex;
  height : 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  font-weight: bolder;
  color : var(--extra-light);
  text-align :center;
  padding : 0 1em 0 1em;
}

.register-link{
  color : var(--light);
  text-align: center;
}

.register-link:hover{
  color : var(--extra-light);
}



@media screen and (max-width: 768px){

  .login-container {
    height : auto;
    width : 100%;
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .login-form-div {
    min-height: 100vh;
    width : 100%;
    background-color: var(--extra-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: auto;
  }

  .login-title {
    font-size: 3em;
  }

}

/* ---------------------login page End---------------------------------*/


/* ---------------------Header page Start---------------------------------*/


.header-title{
  margin-left : 1em;
  font-family: verdana;
  color: rgb(242,242,242);
  font-style: italic;
  margin-right : 1em;
}

.header-username {
  font-family: verdana;
  color: var(--light);
  font-style: italic;
  margin-right : 1em;
}

.Header-div {
  display : flex;
  align-items: center;
  justify-content: space-between;
  width : 100%;
  background-color: var(--extra-dark);
  margin : 0;
  padding : 0;
}

.Header-nav-item {
  font-family: verdana;
  text-decoration: none;
  color: var(--light);
  margin : 1em;
  font-weight: bold;
  font-size : 1.2em;
}

.Header-nav-item-active {
  color : var(--extra-light)
}

.bundle{
  display : flex;
  align-items: center;
  justify-content: center;
  color: var(--extra-light);
  font-weight: bold;
  font-family: cursive;
}



@media screen and (max-width: 768px){

  .Header-div{
    flex-direction: column;
  }

  .Nav-div{
    padding : 0 0 2em 0;
  }

}





/* ---------------------Header page End---------------------------------*/


.todo-container {
  display : flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width : 100%;
  padding : 1em;
}

.con1{
  display : flex;
  width : 100%;
  align-items: center;
  justify-content: space-between;
}

.con2 {
  width : 100%;
}

.none {
  display : none
}

.btn1{
  background-color: var(--universal-white);
  padding : 0.3em 0.5em 0.3em 0.5em;
  font-weight: bold;
  color: var(--extra-dark);
  font-size: 1em;
  border : 0.2em solid var(--extra-dark) ;
}

.btn2{
  background-color: var(--extra-dark);
  padding : 0.3em 0.5em 0.3em 0.5em;
  font-weight: bold;
  color: var(--extra-light);
  font-size: 1em;
  border : 0.2em solid var(--extra-dark) ;
}

.dark-bold{
  font-weight: bold;
  color : var(--extra-dark)
}

.create-todo-form {
  width : 100%;
  display : flex;
  padding : 0.5em 0 0.5em 0;
  flex-wrap: wrap;
}

.add-todo-input{
  flex-grow : 1;
  border : 0.2em solid var(--extra-dark);
  margin-right: 1em;
}

.todos-con {
  width : 100%;
  display: flex;
  flex-direction: column;
  border : 0.2em solid var(--extra-dark);
  margin-top : 0.5em;
}

.delete-todo-btn{
  align-self: flex-end;
  background-color: var(--extra-dark);
  padding : 0.3em 0.5em 0.3em 0.5em;
  font-weight: bold;
  color: var(--extra-light);
  font-size: 1em;
  border : 0.2em solid var(--extra-dark) ;
  margin : 0em 0em 0 0;
}

.todo-item{
  width : 100%;
}

.todo-heading{
  width : 100%;
  display : flex;
  padding : 0.2em 0.2em 0.2em 0.2em;
}

.todo-head-enabled{
  flex-grow: 1;
  border : 0.2em solid var(--extra-dark) ;
  border-right-width: 0;
}

.todo-head-enabled:disabled{
  background-color: var(--extra-light)
}

.tasks-div {
  width : 100%;
}

.disabledme {
  background-color: var(--extra-light);

}

.task-wrap {
  display : flex;
  flex-direction: column;
  align-items: center;
  border : 0.2em solid var(--extra-dark) ;
  margin: 0.2em 0.2em 0.2em 0.2em;
  position : relative
}


.task-heading {
  width : 100%;
  display : flex;
  padding : 0.2em 0.2em 0em 0.2em;
}



.task-head-enabled{
  flex-grow: 1;
  border : 0.2em solid var(--extra-dark) ;
  border-right-width: 0;
}

.task-head-enabled:disabled{
  background-color: var(--extra-light)
}

.goal-div {
  display : flex;
  width : 100%;
  padding : 0em 0.2em 0em 0.2em;
  flex-wrap: wrap;

}

.done-btn {
  background-color: var(--extra-dark);
  padding : 0.3em 0.5em 0.3em 0.5em;
  font-weight: bold;
  color: var(--extra-light);
  font-size: 1em;
  border : 0.2em solid var(--extra-dark) ;
  position : absolute;
  top : 0
}

.goal-title {
  border : 0.2em solid var(--extra-dark) ;
  display : flex;
  align-items: center;
  justify-content: center;
  flex : 1;
  font-weight: bold;
  border-right-width: 0;
  border-left-width: 0;
}

.btn1:disabled{
  background-color: var(--extra-light)
}

.goal-title > input {
  flex : 1;
  align-self: stretch;
}

.delete-task-button{
  align-self: flex-end;
  background-color: var(--extra-dark);
  padding : 0.3em 0.5em 0.3em 0.5em;
  font-weight: bold;
  color: var(--extra-light);
  font-size: 1em;
  border : 0.2em solid var(--extra-dark) ;
  margin : 0em 0em 0 0;
}


.todos-div {
  border : 2px solid var(--dark);
  padding : 1em;
}


.new-todo-div{
  display : flex;
  flex-direction: column;
  width : 100%;
  align-items : center;
  padding : 0.2em;
}


.new-todo-input {
  border : 0.2em solid var(--extra-dark) ;
  align-self: stretch;
  border-bottom-width: 0;
  flex : 1;
}

.new-task-goal-div{
  display : flex;
  width : 100%;
}

.add-task-button {
  background-color: var(--extra-dark);
  padding : 0.3em 0.5em 0.3em 0.5em;
  font-weight: bold;
  color: var(--extra-light);
  font-size: 1em;
  border : 0.2em solid var(--extra-dark) ;
  align-self: stretch;
}

.my-box {
  display : flex;
  width : 100%;
}

.box2{
  display : flex;
  width : 100%;
  padding : 0.2em;
}

.comment-item-head{
  display: flex;
  align-items: center;
  margin-top : 0.2em;
  flex-wrap: wrap;
}
.comment-1{
  width :100%;
}

.comment-item-title {
  margin : 0em 1em 0em 0.2em;
  color : var(--dark)
}

.comment-file{
  display : flex;
  align-items: center;
  justify-content: flex-end;
  margin : 0.2em;
}

.file-here{
  background-color: var(--extra-dark);
  padding : 0.3em 0.5em 0.3em 0.5em;
  font-weight: bold;
  color: var(--extra-light);
  font-size: 1em;
  border : 0.2em solid var(--extra-dark) ;
  margin-right : 0.2em;
  margin-left: 0.2em;
}

.delete-comment-button {
  background-color: var(--universal-white);
  padding : 0.3em 0.5em 0.3em 0.5em;
  font-weight: bold;
  color: var(--extra-dark);
  font-size: 1em;
  border : 0.2em solid var(--extra-dark) ;
  align-self: flex-end;
  border-top-width: 0;
  border-right-width: 0
}

.comment-input{
  border : 0.2em solid var(--extra-dark) ;
  border-right-width: 0;
  flex : 1;
}

.comment-div{
  border : 0.2em solid var(--extra-dark) ;
  margin : 0.2em;
  display : flex;
  flex-direction: column;
  align-items: center;
}

.br0{
  border-right-width: 0
}

.bt0 {
  border-top-width: 0;
}

.tasks-div-com {
  background-color: var(--dark);
  width : 100%;
}

.logout-container {
  width : 100%;
  display: flex;
  align-items:center;
  justify-content: flex-start;
  font-family: verdana;
  font-weight: bold;
  margin-left : 1em;
}

.flex-this-row {
  display : flex;
  width : 100%;
  padding : 1em;
}

.boxn{
  display : flex;
  align-items: center;
  justify-content: flex-start;
  margin-left : 1em;
  margin-top : 1em;
}
